{% extends 'shop/base.html' %}
{% block body %}
<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'store/images/banner1.jpg' %}" class="d-block w-100" alt="Banner">
      <div class="carousel-caption d-none d-md-block">
        <h5>SuperMarket For Fresh Grocery</h5>
        <p>Free shipping on orders over ₹1000</p>
        <a href="{% url 'product_list' %}" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
    <!-- Add more slides -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
{% block body %}